# Criação de dados de funcionários

A ideia é criar dados fictícios de no máximo 15 funcionários para colocar no projeto de [HR x HR](https://github.com/y93r/Software_Dados_Producao_Maquinas)

In [1]:
#!pip install Faker

#Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.5

In [2]:
#Bibliotecas
from faker import Faker
import pandas as pd
from datetime import datetime, date

fake = Faker('pt_BR')
dados = []

In [3]:
#função para criar um intervalo de data
def criar_data():
    data_inicio = datetime.date(datetime(2022, 1, 10))  #data limite de inicio
    data_fim = date.today() #data limite para hoje
    data_aleatoria = fake.date_between_dates(date_start=data_inicio, date_end=data_fim)  
    data_formatada = data_aleatoria.strftime('%d/%m/%Y')
    return data_formatada

#função para criar matricula padronizada iniciando no nº5 e com 4 digitos
def gerar_matricula():
    matricula = fake.unique.random_number(digits=3)  #Gera um número de 3 dígitos
    return f'5{matricula:03d}' #Iniciando sempre com o prefixo 5

In [4]:
for _ in range(15):
    nome_completo = fake.name()
    data_admissao = criar_data()
    matricula = gerar_matricula()
    
    dados.append([nome_completo, data_admissao, matricula])

#Criar um DataFrame com os dados
df = pd.DataFrame(dados, columns=['Nome','Data de Admissão','Matricula'])
df

                       Nome Data de Admissão Matricula
0            Mariane Farias       05/11/2023      5648
1            Emanuel Castro       17/09/2022      5490
2            Bernardo Nunes       08/01/2023      5690
3         Emanuella Peixoto       27/10/2023      5624
4   Dr. Henrique Nascimento       27/03/2023      5946
5            Isaac Teixeira       05/09/2023      5702
6           Emanuel da Cruz       23/11/2023      5776
7           Eduardo Correia       05/06/2023      5171
8              Isabel Gomes       20/02/2022      5192
9              Kaique Pinto       30/12/2023      5572
10             Sophie Viana       24/11/2022      5913
11             Caio da Mota       02/03/2022      5675
12              Pedro Ramos       09/11/2023      5749
13          Augusto da Rosa       10/11/2022      5397
14      Srta. Elisa Martins       16/07/2023      5302

In [5]:
#Salvar o DataFrame em um arquivo Excel
df.to_excel('dados_funcionarios.xlsx', index=False)